*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightseagreen;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#auth-form{
    height: 40vh;
    background-color: #ccc;
    width: 45%;
}
#auth-form h2,input,button{
    margin-left: 22%;
    margin-top: 20px;
}
#secretContent{
 margin: 30px 10px;
 height: 40vh;
 border-radius: 20px;
 font-size: 22px;
}
#secretContent h4,h5, button{
  position: relative;
  top: 20px;  
  margin: 30px 10px;
 text-align: center;
}
#signOutBtn{
    padding: 8px;
    background-color: #ccc;
    border: 2px solid #fff;
    margin-left: 110px;
}